.root {
    -fx-font-family: 'Segoe UI', sans-serif;
    -fx-base: #202124;
    -fx-background-color: #202124;
    -fx-control-inner-background: #202124;
}

.tab-header-background {
    -fx-background-color: #171717;
}

.tab-pane {
    -fx-tab-max-width: 200px;
}

.tab {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 8px 8px 0 0;
    -fx-padding: 5 10 5 10;
    -fx-border-width: 0;
}

.tab:hover {
    -fx-background-color: #292a2d;
}

.tab:selected {
    -fx-background-color: #35363a;
    -fx-background-insets: 0;
}

.tab-label {
    -fx-text-fill: #e8eaed;
    -fx-font-size: 12px;
}

#toolbarHBox {
    -fx-background-color: #35363a;
    -fx-padding: 5px 10px 5px 10px;
    -fx-border-color: #5f6368;
    -fx-border-width: 0 0 1px 0;
}

.button {
    -fx-background-color: transparent;
    -fx-background-radius: 4px;
    -fx-cursor: hand;
}

.button .ikonli-font-icon {
    -fx-icon-color: #e8eaed;
}

.button:hover {
    -fx-background-color: #45474a;
}

.button:pressed {
    -fx-background-color: #5f6368;
}

.text-field {
    -fx-background-color: #202124;
    -fx-background-radius: 20px;
    -fx-border-width: 1px;
    -fx-border-color: #5f6368;
    -fx-padding: 6px 15px 6px 15px;
    -fx-prompt-text-fill: #9aa0a6;
    -fx-text-fill: #e8eaed;
    -fx-font-size: 13px;
}

.text-field:focused {
    -fx-background-color: #202124;
    -fx-border-color: #8ab4f8;
    -fx-border-width: 2px;
    -fx-border-radius: 20px;
    -fx-padding: 4px 13px 4px 13px;
    -fx-effect: dropshadow(three-pass-box, rgba(26,115,232,0.3), 5, 0, 0, 0);
}

#zoomLabel {
    -fx-text-fill: #e8eaed;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

#themeButton .ikonli-font-icon {
    -fx-icon-color: white;
}

#bookmarksHBox {
    -fx-background-color: #35363a;
    -fx-padding: 5px 10px 5px 10px;
    -fx-border-color: #5f6368;
    -fx-border-width: 0 0 1px 0;
}